{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="with=device-width", initial-scale="1, shrink-to-fit=no">
	<title>FinPlan</title>

	{% bootstrap_css %}
	{% bootstrap_javascript %}

	 <!-- Bootstrap Datepicker CSS -->
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

	  <a class="navbar-brand" href="{% url 'fin_plan_app:index' %}">
		  FinPlan</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse"
			  data-target="#navbarCollapse" aria-controls="navbarCollapse"
			  aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span></button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
		  <ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				  <a class="nav-link" href="{% url 'fin_plan_app:clients'%}">
					  Klijenti</a></li>
			  <li class="nav-item">
				  <a class="nav-link" href="{% url 'fin_plan_app:tasks'%}">
					  Zadaci</a></li>
			  <li class="nav-item">
				  <a class="nav-link" href="{% url 'fin_plan_app:notes'%}">
					  Bilješke</a></li>
		  </ul>
		  
			  {% if user.is_authenticated %}
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<span class="navbar-text">Pozdrav, {{ user.username }}.</span>
				</li>
			  </ul>
			  {% else %}

	
			  {% endif %}
		  </ul>
	  </div>
	  {% if user.is_authenticated %}
	  <div class="ml-auto">
		<form action="{% url 'users:logout' %}" method='post'>
		  {% csrf_token %}
		  <button type="submit" class="btn btn-primary">Odjava</button>
		</form>
	  </div>
	  {% else %}
	  <div class="ml-auto">
		<form action="{% url 'users:login' %}" method='post'>
			{% csrf_token %}
			<button type="submit" class="btn btn-primary">Prijava</button>
		</form>
	  </div>
	{% endif %}
  </nav>

  <main role="main" class="container">
	  <div class="pb-2 mb-2 border-bottom">
		  {% block page_header %}{% endblock page_header %}
	  </div>
	  <div></div>
		  {% block content %}{% endblock content %}
	  </div>
  </main>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap Datepicker JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  {% block javascript %}{% endblock %}
  
</body>
</html>