{% extends "fin_plan_app/base.html" %}

{% block page_header %}
  <h3>Klijenti</h3>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'fin_plan_app:new_client' %}" class="btn btn-success">Dodaj</a>
  </p>

  <ul>
  	{% for client in clients %}
  	  <div class="card mb-3">
      	<h4 class="card-header">
			<a href="{% url 'fin_plan_app:client' client.id %}" class="btn btn-light btn-lg">{{ client }}</a>

			<a href="{% url 'fin_plan_app:edit_client' client.id %}" class="btn btn-info btn-sm">Uredi</a>
			<a href="{% url 'fin_plan_app:delete_client' client.id %}" class="btn btn-danger btn-sm">Obriši</a>
		</h4>
	    <div class="card-body">
        {{ client.address }}, {{ client.city }}, Mobitel: {{ client.mob }}, OIB: {{ client.oib }}
        </div>
	  </div>
  	{% empty %}
  	  <li><h3>Nije dodan niti jedan klijent.</h3></li>
  	{% endfor %}
  </ul>

{% endblock content %}